.container {
  background: rgb(255, 94, 30);
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
  align-items: center;
}
.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid rgb(0, 9, 128);
  width: 80px;
  height: 80px;
}
